gdb_target_description disable

set cpu_count 1
set enable_smp 0
set endian little
set instr_addr 0x00001000
set ocr_addr 0xf9000000
set standard_debug 0
set target_name tap1

if { $standard_debug == 0 } {
    # Get the actual config file path and normalize it
    set script_path [info script]
    regsub -all {\\} $script_path {/} script_path

    # Get directory of the config file
    set config_dir [file dirname $script_path]

    # Search upward from config directory to find cpu0.yaml
    set proj_loc ""
    set search_dir $config_dir
    set max_levels 15

    for {set i 0} {$i < $max_levels} {incr i} {
        set yaml_path [file join $search_dir "cpu0.yaml"]

        if {[file exists $yaml_path]} {
            set proj_loc $search_dir
            break
        }

        # Move up one directory
        set parent [file dirname $search_dir]
        if {$parent == $search_dir} {
            break
        }
        set search_dir $parent
    }
    
    if {$proj_loc != ""} {
        puts "Found cpu0.yaml at: $proj_loc"
    } else {
        puts "Warning: cpu0.yaml not found within $max_levels levels from config file"
    }
    
    # Non-standard debug interface (VexRiscv)
    for {set i 0} {$i < $cpu_count} {incr i} {
        target create $target_name.cpu$i vexriscv -endian $endian -chain-position $target_name.tap -coreid $i -dbgbase [expr $i*$instr_addr+0x10B80000] -work-area-phys $ocr_addr -work-area-size 1024
        vexriscv readWaitCycles 40
        vexriscv cpuConfigFile $proj_loc/cpu$i.yaml
        vexriscv jtagMapping 8 8 0 1 2 2
    }
} else {
    # Standard debug interface (RISC-V)
    if { $cpu_count > 1 && $enable_smp == 1 } {
        # SMP configuration
        target create $target_name.cpu0 riscv -endian $endian -chain-position $target_name.tap -coreid 0 -dbgbase [expr 0*$instr_addr+0x10B80000] -work-area-phys $ocr_addr -work-area-size 1024 -rtos hwthread
        for {set i 1} {$i < $cpu_count} {incr i} {
            target create $target_name.cpu$i riscv -endian $endian -chain-position $target_name.tap -coreid $i -dbgbase [expr $i*$instr_addr+0x10B80000] -work-area-phys $ocr_addr -work-area-size 1024
        }        
        riscv use_bscan_tunnel 6 1
        riscv set_bscan_tunnel_ir 8

        # Build SMP target list dynamically based on cpu_count
        set smp_targets ""
        for {set i 0} {$i < $cpu_count} {incr i} {
            append smp_targets "$target_name.cpu$i "
        }
        eval "target smp $smp_targets"
    } else {
        # Non-SMP or single CPU configuration
        for {set i 0} {$i < $cpu_count} {incr i} {
            target create $target_name.cpu$i riscv -endian $endian -chain-position $target_name.tap -coreid $i -dbgbase [expr $i*$instr_addr+0x10B80000] -work-area-phys $ocr_addr -work-area-size 1024            
            riscv use_bscan_tunnel 6 1
            riscv set_bscan_tunnel_ir 8
        }
    }    
    riscv resume_order reversed
}

for {set i 0} {$i < $cpu_count} {incr i} {
    targets $target_name.cpu$i
    poll_period 50
    init
    halt
}
