* text=auto
*.v text eol=lf
*.sv text eol=lf
*.vh text eol=lf
*.svh text eol=lf
*.sdc text eol=lf
*.tcl text eol=lf
*.sh text eol=lf
*.py text eol=lf
*.md text eol=lf
*.xml text eol=lf
*.peri.xml text eol=lf
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
